body
{
  padding: 30px;
  background:rgb(244, 175, 180);

}
p{
  background: rgb(42, 95%, 35%);
  color: black;
}
  table{
   width: 100%;
  }



a{text-decoration: none}
    div{display: inline;}
    divimg{float: right}

    td{text-align: center}
    th{text-align: left}

    p{ 
      border: 1px solid black; 
      padding: 25px;
      }